* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #f0f3f5;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  padding-top: 64px;
  height: 80vh;
  padding-left: 64px;
  padding-right: 64px;
}
