.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 15em;

  & .inner {
    display: flex;
    gap: 4em;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;

    & .carousel-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
